@{
    ViewData["Title"] = "Página Inicial";
}



<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6  bg-primary  side-image">

                

                
                <div class="text">
                    

                    <br />

                    <p> Simplifique a gestão de informações dos seus alunos.
                      Cadastre, edite e exclua registros de forma rápida e eficiente,
                      otimizando o seu tempo e melhorando a organização. <i>- IEL</i></p>
                </div>

            </div>
            <div class="col-md-6 right">
                
                    <img class="iel-image" src="~/IEL.png" alt="Logo da IEL"/>
                
                
                <div class="input-box">
                    
                    <header>Gerencie já seus estudantes:</header>
                    
      
                    <div class="input-field">
                        <a class="btn btn-secondary btn-block" asp-controller="Estudante" asp-action="Index" role="button">Acessar</a>
                    </div>
                    
                </div>
            </>
        </div>
    </div>
</div>
